body {
    background-color: black;
    text-align: center;
}

#caixa {
    border: 4px solid white;
    width: 400px;
    height: 250px;
    margin: 50px auto;
    position: relative;
}

#coracao {
    width: 16px;
    height: 16px;
    background-color: red;
    position: absolute;
    bottom: 10px;
    left: 190px;
    border-radius: 3px;
}