body {
    background-color: black;
    color: white;
    font-family: 'Courier New', monospace;
    text-align: center;
    overflow: hidden;
}

#caixaBatalha {
    border: 4px solid white;
    width: 400px;
    height: 250px;
    margin: 30px auto;
    position: relative;
    overflow: hidden;
}

#alma {
    width: 20px;
    height: 20px;
    background-image: url('sprites/soul.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    bottom: 10px;
    left: 190px;
}

#enemy-box {
    width: 200px;
    height: 140px;
    margin: 0 auto;
    margin-top: 10px;
}

#spriteInimigo {
    image-rendering: pixelated;
    width: 100px;
    height: auto;
}

.bullet {
    width: 30px;
    height: 10px;
    background-color: yellow;
    position: absolute;
    border-radius: 50%;
}

#caixaTexto {
    border: 2px solid white;
    width: 400px;
    margin: 20px auto;
    padding: 10px;
    height: 60px;
}

#vidasDiv {
    margin-top: 10px;
}

.heart {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: red;
    margin: 2px;
    transform: rotate(45deg);
    position: relative;
}

.heart::before,
.heart::after {
    content: "";
    width: 14px;
    height: 14px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
}

.heart::before {
    left: -7px;
}

.heart::after {
    top: -7px;
}
